.TrendingSection{
    width: 60vw;
    display: flex;
    flex-direction: column;
margin-inline: auto;
width: 60vw;
/* height: 50vh; */
padding-left: 2rem;
padding-top: 2rem;
}

.Trending-Column{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selector{
display: flex;
flex-direction: row;
justify-content: space-between;
gap:2rem;
border: 1px solid rgba(3,37,65);
border-radius: 30px;
font-size: 1em;
}

.background {
    border-radius: 30px;
    background-color: black;
    color: #56c5ab;

  }
  
.Trending{
    display: flex;
    flex-direction: row;
    gap:1.2rem;
    padding-top: 1.6rem;
    overflow:scroll;
    scroll-behavior: smooth;  
    position: relative; 
    background-image: url(https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg);
    background-repeat:round;
    background-position: bottom;
    transition: height .5s linear;
}
 
/* .fade{
    background-color: white;
    opacity: 0.5;
    height: 100vh;
    width: 10vw;
    position: absolute;
    
    right: 0px;
    bottom: 10%;
} */

::-webkit-scrollbar{
    display: none;
}



@media screen and (max-width:500px) {
    .TrendingSection{
        margin-left: 0px;
    }

    .Trending{
        width: 360px;
    }

    .Trending-Column{
        flex-direction: column;
        align-items:start;
        gap:4px;

    }

    .switchingTabs .tabItems{
        margin-left: -28px;
    }
}