.Header{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-inline: 20vw;
background-color: rgb(3,37,65);
height: 6vh;
}
.left{
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
justify-content: center;
color:#FFF;
font-weight: 600;
}

.left p{
    cursor: pointer;
}


.right{
display: flex;
flex-direction: row;
gap: 30px;
align-items: center;
justify-content: center;
color:#FFF;
font-weight: 600;
}

.lang{
    border: 1px solid #FFF;
    padding: 2px 4px;
    border-radius: 3px;
}

.lang:hover{
    background-color: #FFF;
    color:#000;
    transition: 0.3s ease-in;
}

.right p, .right img{
    cursor: pointer;
}

.button{
    cursor: pointer;
}


@media screen and (max-width:500px) {
    .Header {
        overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
        padding-inline: 120px;
    }

    .right {
        display: none;
    }

    .left > *:not(:first-child) {
        display: none;
    }

    .left img {
        
    }
}