.switchingTabs {
  height: 34px;
  background-color: white;
  border-radius: 20px;
  padding: 2px;
}

.switchingTabs .tabItems {
  display: flex;
  align-items: center;
  height: 30px;
  position: relative;
  border: 1px solid rgb(3, 37, 65);
  border-radius: 15px;
}

.switchingTabs .tabItems .tabItem {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: rgb(3, 37, 65);
  font-weight: 600;
  font-size: 16px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: color ease 0.3s;
}

.switchingTabs .tabItems .tabItem.active {
  background-image: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.switchingTabs .tabItems .movingBg {
  height: 30px;
  width: 100px;
  border-radius: 15px;
  background: rgb(3, 37, 65);
  position: absolute;
  left: 0;
  transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
}
