.Banner{
    display: flex;
    flex-direction: row;
width: 100vw;
height: 570px;
justify-content: center;
position: relative;
backgroundImage: 'linear-gradient(to right, blue, lightblue)'
}

.backdrop2{
    background-size: cover;
    filter: blur(4px);

}


.poster{
    width: 300px;
    height: 450px;
    background-color: red;
    /* position: absolute; */
    left: 0;
    border-radius: 8px;
}
.title2{

    /* position: absolute; */
    left: 300px;
}

.facts{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap:8px;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: row;
    gap:28px;
    padding-left: 28px;
}

.list li{
    list-style-type: disc;
}




.actions{
    /* position: absolute; */
    left: 360px;
    color: white;
    display: flex;
    flex-direction: row;
    top:300px;
    align-items: center;
    gap: 16px;
}


.btns{
    background-color: rgb(3,37,65);
    display: flex;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.poster img{
    width: 300px;
    height: 450px;
}

.score-circle{
    width: 68px;
    height: 68px;
    background-color: black;
    color: white;
    display: flex; 
    border-radius: 50%;
    justify-content: center;
align-items: center; 
}


.play{
    display: flex;
    flex-direction: row;
}


.score{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px
}


.overview{
    /* position: absolute; */
    color:#FFFF;
    top:0;
    left: 28%;
    width: 52vw;
    text-align: justify;
}

.banner-content{
    position: absolute;
    height: 35vh;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 10vh;
}

.right-wrapper{
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title2{
    display: flex;
    flex-direction: column;
    gap: 2px;
}