.PopularSection{
    width: 60vw;
    display: flex;
    flex-direction: column;
margin-inline: auto;
width: 60vw;
/* height: 50vh; */
padding-left: 2rem;
padding-top: 2rem;
margin-bottom: 24px;
}

.Popular-Column{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selector{
display: flex;
flex-direction: row;
justify-content: space-between;
gap:2rem;
border: 1px solid rgba(3,37,65);
border-radius: 30px;
font-size: 1em;
}


.background {
    border-radius: 30px;
    background-color: black;
    color: #56c5ab;

  }
  
  .Popular {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    padding-top: 1.6rem;
    overflow-y: scroll;
    position: relative;
}



.fade {
    box-shadow: -140px 0 40px rgba(255, 255, 255, 1);
    height: 100%;
    width: 120px;
    position: absolute;
    right: -200px;
    bottom: 10%;
    opacity: 1; /* Initial opacity */
    transition: opacity 0.3s ease; /* Transition effect */
}


@media screen and (max-width:500px) {
    .PopularSection{
        margin-left: 0px;
    }

    .Popular{
        width: 360px;
    }

    .Popular-Column{
        flex-direction: column;
        align-items:start;
        gap:4px;

    }

    .switchingTabs .tabItems{
        margin-left: -28px;
    }
}